.barrainicio {
  text-align: center;
  width: 15%;
  height: 100vh;
  background-color: #f1c278;
  text-transform: uppercase;
  float: left;
  position: fixed;
}
.barrainicio .logo {
  display: block;
  padding: 10% 10%;
}
.barrainicio .logo img {
  width: 80%;
  height: 80%;
}
.barrainicio .navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.barrainicio .navbar li a {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem;
  text-decoration: none;
  color: black;
  display: block;
  transition: all 1.5s;
}
.barrainicio .navbar li a:hover {
  background-color: #b16e16;
  transform: scale(1.1);
}
.barrainicio .icons {
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: absolute;
  margin-left: 25%;
}
.barrainicio .icons i {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
}
.barrainicio .icons .fa-instagram {
  color: #4b4f3b;
}
.barrainicio .icons .fa-facebook {
  color: #4b4f3b;
}

.botonwsp img {
  width: 4rem;
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}

@media (max-width: 991px) {
  .barrainicio {
    display: none;
  }

  .contenedor {
    width: 100% !important;
    height: auto !important;
  }

  .bgoopacity {
    display: block !important;
  }
}
.contenido1 {
  float: right;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.contenido1 div {
  float: left;
  width: 50%;
  height: 50%;
}
.contenido1 div img {
  width: 100%;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.img:hover {
  filter: grayscale(1);
  transform: scale(1.07);
}
.img:hover h4 {
  opacity: 100;
}
.img h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  opacity: 0;
  color: white;
  text-shadow: black 0px 3px 3px;
  transition: all 0.5s ease;
}

.img1 {
  background-image: url(../photos/Queijosx1.jpg);
}

.img2 {
  background-image: url(../photos/Queijosx2.jpg);
}

.img3 {
  background-image: url(../photos/Queijosx3.jpg);
}

.img4 {
  background-image: url(../photos/Queijosx4.jpg);
}

.logoqueijosindex {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  width: 22%;
  height: auto;
}

.icons {
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: absolute;
  margin-left: 1.5%;
  margin-bottom: 0.5%;
}
.icons i {
  margin-right: 1rem;
  font-size: 3.5rem;
}
.icons .fa-instagram {
  color: white;
}
.icons .fa-facebook {
  color: white;
}

.iconwsp {
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-right: 1.5%;
  margin-bottom: 0.5%;
}
.iconwsp i {
  font-size: 3.5rem;
}
.iconwsp .fa-whatsapp {
  color: white;
}

@media (max-width: 1025px) {
  .contenido1 div {
    width: 100%;
    height: 25%;
  }

  .img h4 {
    opacity: 100;
  }

  .icons {
    display: none;
  }
}
@media (max-width: 1025px) and (orientation: landscape) {
  .img {
    justify-content: left;
  }

  h4 {
    opacity: 100;
    padding-left: 50px;
    font-size: 30px;
  }

  .logoqueijosindex {
    top: 20px;
    left: inherit;
    right: 20px;
    bottom: inherit;
    margin: auto;
    width: 20%;
  }
}
.bgcontact {
  background-image: url(../photos/bgcontact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 85%;
  float: right;
  overflow: hidden;
  margin: 0;
}

.contmisionyvision {
  float: right;
  width: 85%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../photos/Empresaimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contmisionyvision .opacity {
  background-color: #000000cc;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
}
.contmisionyvision h1 {
  text-align: center;
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 3rem;
}
.contmisionyvision h4 {
  text-align: center;
  color: #bfbfbf;
  font-size: 2rem;
}
.contmisionyvision p {
  color: #bfbfbf;
  display: flex;
  margin: 20px;
  text-align: left;
  text-decoration-style: solid;
  font-size: 1.1rem;
}

.bgofertas {
  background-image: url(../photos/bgofertas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 85%;
  float: right;
  margin: 0;
  padding: 0;
}

.bgoopacity {
  background-color: #000000cc;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  display: flex;
}

.carrusel {
  float: left;
  width: 50%;
  padding: 0;
}

.contpreparacion {
  float: right;
  width: 85%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
  font-size: 20px;
  background-image: url(../photos/desenfoque.png);
  background-size: cover;
  background-position: center;
  color: white;
}
.card .card-body {
  padding: 2px;
}
.card .card-body .card-title {
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

@font-face {
  font-family: Traveling;
  src: url(../TIPOGRAFIA/TravelingTypewriter.ttf) format("opentype");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Traveling;
}

/*# sourceMappingURL=stlye.css.map */
