
.bgcontact{
  background-image: url(../photos/bgcontact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  width: 85%;
  float: right;
  overflow: hidden;
  margin: 0;
}
