.bgofertas{
  background-image: url(../photos/bgofertas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 85%;
  float: right;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bgoopacity{
  background-color: #00000060;
}

.carrusel{
  float: left;
  width: 50%;
  padding: 0;
}
